# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.idea
.env

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
lib

# Dependency directories (remove the comment below to include it)
vendor/
node_mos_ru/node_modules
energosbyt_test.yaml
verified.yaml
meter_bot
data
meter_readings.tar
